[submodule "libs/sol2"]
	path = libs/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "libs/cpp-bgui"]
	path = libs/cpp-bgui
	url = https://github.com/D4nielStone/cpp-bgui.git